# Build outputs
/bin/
/build/
/out/
/eclipse/
/run/
/mods/
/Documentation-*/

# Gradle
/.gradle/
/gradle-app.setting

# IDE
/.settings/
/.project
/.classpath
/.idea/
/.vscode/
/.metadata/
*.iml
*.ipr
*.iws
*.launch

# Java crashes & dumps
hs_err_pid*
replay_pid*
*.hprof
.attach_pid*
java_error_in_*

# Logs
/logs/
/logs/*
*.log
consolelog.log

# Forge MDK leftovers
forge*changelog.txt

# Backups & temp files
*.old
*.bak
*.tmp
*.class

# OS junk
.DS_Store
Thumbs.db
